

<style>
  
  .product_carousel{
  
    display:flex;
  	margin:30px 0 0 0;
    padding-right:5px;
    
    position:relative;
    overflow-x:auto;
    -ms-overflow-style: none;  /* IE and Edge */
 	 scrollbar-width: none;  /* Firefox */
    
  }
  
  .product_carousel::-webkit-scrollbar {
  display: none;
}
  .product_carousel_cell{
		
		width:25%;
    	margin-left:5px;
    	flex:0 0 auto;
    	
	
	}
  
  .product_carousel_title{
    	position:relative;
  		font-family:Sangbleu;
    	font-size:20px;
    	margin:100px 0 0 20px;
  }

  .cell_title{
  	margin:8px 0 0 3px;
    
  }
  
  .cell_price{
    margin-top:-2px;
  	margin-left:3px;
  	color:#808080;
    
  }
  .next-btn{
  	position:absolute;
    top:calc(50% - 45px);
    right:8px;
    z-index:2;
    border: none;
	border-radius: 50%;
	background-color:white;
	color: #000;
	cursor: pointer;
	text-align: center;
	z-index: 1;
	
	vertical-align: middle;
	line-height: 0;
	padding:10px;
    opacity:0.7;
    
   
  }
  
  .next-btn:hover{
  	opacity:1;
    color: #000000;
    transform: scale(1.05);
    transition:transform 0.1s ease-in-out;
	
  }
  
  .next-btn svg{
  	height:23px;
  }
  
  
  .product_carousel_container{
  
  	position:relative;
  }
  
  @media screen and (max-width:650px){
  
    .product_carousel{
    
    	margin:30px 0 0px 0;
    }
    	.product_carousel_title{
    	
    	margin:50px 0 0 10px;
  }
  	  .product_carousel_cell{
		flex:0 0 auto;
		width:40%;
    	margin-left:5px;
    	
      }
       .next-btn{
       	 display:none;
       }
	
	}
  	
  
  
 
  
</style>




		<div class="product_carousel_title">
    	New
        
  		</div>  
   
<div class="product_carousel_container">
<div class="product_carousel">
 	
 
	<div class="product_carousel_cell">
      <a href="/products/venice-petite-rattan-satchel-xxs">
     	<div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Model_Venice_Petite_Rattan.jpg?v=1641179518"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Model_Venice_Petite_Rattan.jpg?v=1641179518"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
         
        </div>
      	<div class="cell_price">
		 
      	</div>
      </a>
  </div> 
  <div class="product_carousel_cell">
    <a href="/products/venice-petite-rattan-satchel-xxs">
      <div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Venice_Petite_Rattan.jpg?v=1641179517"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Venice_Petite_Rattan.jpg?v=1641179517"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
          Venice Petite Rattan Satchel XXS
        </div>
      	<div class="cell_price">
          $ 535
      	</div>
     
    </a>
    
  </div>
   
  <div class="product_carousel_cell">
  	<a href="/products/estela-bucket-bag-xs?variant=41433054019735">
      <div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Estela-Bucket-Bag.jpg?v=1641179517"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Estela-Bucket-Bag.jpg?v=1641179517"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
          Estela Bucket Bag XS
        </div>
      	<div class="cell_price">
          $ 315
      	</div>
  </a>
  </div>
  
  <div class="product_carousel_cell">
      <a href="/products/astron-mono-waist-pouch-m">
      <div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Astron_Mono_Waist_Pouch.jpg?v=1641179517"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Astron_Mono_Waist_Pouch.jpg?v=1641179517"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
          Astron Mono Waist Pouch M
        </div>
      	<div class="cell_price">
          $ 335
      	</div>    
    </a>
    
  </div>
  <div class="product_carousel_cell" >
      <a href="/products/sarto-backpack-1">
      <div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Model_Sarto_Backpack.jpg?v=1641179517"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Model_Sarto_Backpack.jpg?v=1641179517"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
          
        </div>
      	<div class="cell_price">
          
      	</div>
    </a>
  </div>
  <div class="product_carousel_cell">
      <a href="/products/sarto-backpack-1">
      <div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Sarto_Backpack.jpg?v=1641179517"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Sarto_Backpack.jpg?v=1641179517"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
          Sarto Backpack
        </div>
      	<div class="cell_price">
          $ 635
      	</div>
    </a> 
  </div>


  <div class="product_carousel_cell">
      <a href="/products/elle-christina-satchel-xs?variant=41470147625111">
      <div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_Elle_Christina_Satchel.jpg?v=1641179517"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_Elle_Christina_Satchel.jpg?v=1641179517"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
         Elle Christina Satchel XS
        </div>
      	<div class="cell_price">
         $ 320
      	</div>
    </a>
  </div>
    <div class="product_carousel_cell">
    
      <a href="/products/dahlia-crossbody-bag-with-pouch?variant=41547727634583">
      <div class="cell_img_container">
          <img  src="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Dahlia_Crossbody.jpg?v=1641179517"
        data-srcset="https://cdn.shopify.com/s/files/1/0434/3716/2647/files/Jan_New_Dahlia_Crossbody.jpg?v=1641179517"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt=""
        class="lazyload Image--lazyLoad Image--fadeIn">
          
        </div>
        <div class="cell_title">
          Dahlia Crossbody Bag With Pouch
        </div>
      	<div class="cell_price">
          <span style="color:#c94533; margin-right:5px;">$ 170</span><span style="text-decoration:line-through">$ 300</span>
      	</div>
    </a>
  	</div>
  
  
</div>
  <span class="next-btn">
    <svg viewBox="0 0 100 100">
      <path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow" transform="translate(100, 100) rotate(180) ">
      </path>
    </svg>


</div>
 






{% schema %}
  {
    "name": "Section name",
    "settings": [],
	"presets":[
		{
			"name":"Product Carousel"
		}

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

